{% extends 'layoutAdmin.twig' %}

{% block content %}

<div class="container">
<div class="row">
  <div class='col s12 m10 l12'>
  <table id='example' class='mdl-data-table  striped'>
      <thead>
        <tr>
          <th scope='col'>Id</th>
          <th scope='col'>Categoria</th>
        </tr>
      </thead>
  <tbody>
    {% for categoria in categorias %}
    <tr>
       <td>{{categoria.id}}</td>
       <td>{{categoria.categoria}}</td>
       <td>
      <a href='/allpiza/{{categoria.id}}' class='waves-effect waves-light blue-text darken-4 large'>
       <i class='material-icons left'>remove_red_eye</i>
       </a>
       <a href='#' class='waves-effect waves-light green-text darken-4 large' onclick = 'Pizza({{categoria.Id}})'>
       <i class='material-icons left'>edit_attributes</i>
       </a>
       <a href="/excluircategoria/{{categoria.id}}"  class='waves-effect waves-light  orange-text darken-4' onclick='Deletar({{categoria.urlimg}})'>
       <i class='material-icons orange-text darken-4 left'>restore_from_trash</i>
       </a>
       </td>
     </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>


{% endblock  %}
