{% extends 'layout.twig' %}


{% block content %}
    
   {% include 'partials/banner.twig'%}

   
   {% for message in messages %}
    <div class="alert alert-danger">
    <li>{{ message[0] }}</li>
    </div>
    {% endfor %}

<section id="feature" class="section-padding">
    <div class="container">
       <h3 class="text-center">Cardapio</h3>
     <div class="row top">
     {% for allcardapios in allcardapio %}
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">{{allcardapios.nomesabor}}  {{allcardapios.valor}}R$</h5>
                    <img src="{{allcardapios.urlimg}}" class="img-thumbnail">
                    <p class="card-text">{{allcardapios.descricao}}</p>
                    <a href="initsession?id={{allcardapios.id}}" class="btn btn-primary">Pedir</a>
                </div>
            </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </section>
{% include 'partials/footer.twig' %}
{% endblock %}