{% extends 'layout.twig' %}


{% block content %}

{% include 'partials/banner.twig'%}
  {% for message in messages %}
    <div class="alert alert-danger">
      <li>{{ message[0] }}</li>
    </div>
  {% endfor %}

<div class="row">

<div class=""><br><br><br>
        <h3>Tudo Com Mais Sabor</h3>
        <br>
    <div class="col s12 m4">
        <div class="card-panel">
          <div class="row valign-wrapper">
            <div class="col s12 m12 l12">
              <img src="img/uploads/cardapio/portuguesa.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>

          </div>
        </div>
         <div class="col">
         <h6>title</h6>
              <span class="black-text">
                This is a square image. Add the "circle" class to it to make it appear circular.
              </span>
          </div>
      </div>

      <div class="col s12 m4">
        <div class="card-panel">
          <div class="row valign-wrapper">
            <div class="col s12 m12 l12">
              <img src="img/img.2.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
          </div>
        </div>
         <div class="col">
          <h6>title</h6>
              <span class="black-text">
                This is a square image. Add the "circle" class to it to make it appear circular.
              </span>
          </div>
      </div>


<div class="col s12 m4">
        <div class="card-panel">
          <div class="row valign-wrapper">
            <div class="col s12 m12 l12">
         <img src="img/img.3.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>

          </div>
        </div>
         <div class="col">
          <h6>title</h6>
              <span class="black-text">
                This is a square image. Add the "circle" class to it to make it appear circular.
              </span>
          </div>
      </div>
</div>
</div>

<div class="row">
 <div class="col s4 m4 l4"></div>


<form action="" class="form-index">
  <div class="row">
  <div class="col s8 m10 l4">
    <div class="col s8 m0 l8">
    <select name="codigo" onchange="showCodigo(this.value)">
    <option value="" disabled selected>Selecione Cardapio</option>
    <option value="pizzas">Pizzas</option>
    <option value="calzones">Calzones</option>
    <option value="lasanhas">Lasanhas</option>
    <option value="refrigerenates">Refrigerenates</option>

    </select>
  </div>
</div>
</div>
</form>

<div class="col s4 m4 l4"></div>
</div>
</div>


<div class="row">
<div id="txtHint">
<div class="">


{% for allcardapios in allcardapio %}
<div class="col s12 m6 l4">
<div class="card">
    <div class="col s4 m4 card-image waves-effect waves-block waves-light ">
    <img class="activator" src="img/uploads/cardapio/{{allcardapios.urlimg}}">
        <a class="btn-floating halfway-fab waves-effect waves-light red btn-small">
          <i class="material-icons">add</i>
        </a>
    </div>

<div class="col s8 m8  card-content">
  <span class="card-title">{{allcardapios.nomesabor}}</span>
{% set p = allcardapios.categoria %}
{% if p == "pizzas" %}
    <p class="green-text text-darken-5">M.....................................R$ {{allcardapios.valorM}}</p>
    <p class="green-text text-darken-5">G......................................R$ {{allcardapios.valorG}}</p>
    <p>{{allcardapios.descricao}}</p>
{% endif %}

{% if p == "panquecas" %}
    <P>panquecas</P>
    <p class="green-text text-darken-5">Valor.....................................R$ 6.50</p>
    <p>{{allcardapios.descricao}}</p>
{% endif %}

{% if p == "lasanhas" %}
    <P>lasanhas</P>
    <p class="green-text text-darken-5">valor.....................................R$ 5.50</p>
    <p>{{allcardapios.descricao}}</p>
{% endif %}

{% if p == "bebidas" %}
    <P>bebidas</P>
    <p class="green-text text-darken-5">Valor.....................................R$ 18.90</p>
    <p>{{allcardapios.descricao}}</p>
{% endif %}

{% if p == "calzones" %}
    <P>calzones</P>
    <p class="green-text text-darken-5">Valor.....................................R$ 6.50</p>
    <p>{{allcardapios.descricao}}</p>
{% endif %}


</div>


</div>
</div>
{% endfor %}
</div>
</div>
</div>
</div>

{% include 'partials/footer.twig' %}
{% endblock %}
