{% extends 'layoutAdmin.twig' %}

{% block content %}



<div class="container">
  <div class="login-box-body">
    {% for message in messages %}
      <div class="alert alert-info">
      <li>{{ message[0] }}</li>
  
      </div>
    {% endfor %}




<form method="post" action="/updateendereco" enctype="multipart/form-data">

  {% for getendere in endere %}

    <div class="form-group col-md-6">
      <input type="text" class="form-control"  value="{{getendere.id}}" name="id" required="obrigatorio">
    </div>

    <div class="form-group col-md-6">
      <input type="text" class="form-control"  value="{{getendere.rua}}" name="rua" required="obrigatorio">
    </div>

    <div class="form-group col-md-6">
     <input type="text" class="form-control" value={{getendere.numero}} name="numero" required="obrigatorio">
    </div>

    <div class="form-group col-md-6">
     <input type="text" class="form-control"  value="{{getendere.bairro}}" name="bairro" required="obrigatorio">
    </div>

     <div class="form-group col-md-6">
     <input type="text" class="form-control"  value="{{getendere.cidade}}" name="cidade" required="obrigatorio">
    </div>

  {% endfor %}

</div>
  <button type="submit" class="btn btn-primary" id="click">Cadastrar</button>
  <button type="reset" class="btn btn-success">Reset</button>
</form>
  </div>
</div>
 

{% endblock  %}