{% extends 'layoutAdmin.twig' %}

{% block content %}



<div class="container">
  <div class="login-box-body">
    <div class="login-box-body">
    <table class="table">
  <thead class="thead btn-light">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
    
      
  <tbody>
    {% for user in users %}
    <tr>
      <th scope="row">{{user.Id}}</th>
      <td>{{user.fullName }}</td>
      <td>

        <a href="/deleteuser?id={{user.Id}}"><span><i class="icon ion-md-trash text-danger"></i></i></span></a>
        <a href="/updateuser?id={{user.Id}}"><span><i class="icon ion-md-create text-info"></i></span></a>

        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#editmodal" data-iduser={{produtos.Id}}
        data-name={{produtos.name}}
        data-qt={{produtos.Qtdade}}
        data-compra={{produtos.PrecoVenda}}
        data-lucro={{produtos.PorcentagemVenda}}>
        <span><i class="icon ion-md-create text-white"</button>

  
        
        
      </td>
    </tr>
    {% endfor %}
  </tbody>
  
  </table>
</div>
 

{% endblock  %}