{% extends 'layoutAdmin.twig' %}

{% block content %}



<div class="container">
  <div class="login-box-body">
    {% for message in messages %}
      <div class="alert alert-info">
      <li>{{ message[0] }}</li>
  
      </div>
    {% endfor %}

{% if endere %}
 <form method="post" action="/updateendereco" enctype="multipart/form-data">
  {% for getendere in endere %}
    <div class="form-group col-md-6">
      <input type="text" class="form-control"  value="{{getendere.id}}" name="id" required="obrigatorio">
    </div>

    <div class="form-group col-md-6">
      <input type="text" class="form-control"  value="{{getendere.rua}}" name="rua" required="obrigatorio">
    </div>

    <div class="form-group col-md-6">
     <input type="text" class="form-control" value="{{getendere.numero}}" name="numero" required="obrigatorio">
    </div>

    <div class="form-group col-md-6">
     <input type="text" class="form-control"  value="{{getendere.bairro}}" name="bairro" required="obrigatorio">
    </div>

     <div class="form-group col-md-6">
     <input type="text" class="form-control"  value="{{getendere.cidade}}" name="cidade" required="obrigatorio">
    </div>

     <div class="form-group col-md-6">
     <input type="text" class="form-control"  value="{{getendere.telefone}}" name="telefone" required="obrigatorio">
    </div>
    </form>
  <button type="submit" class="btn btn-primary" id="click">Cadastrar</button>
  <button type="reset" class="btn btn-success">Reset</button>
   {% endfor %}

   </div>
  {% else %}

  <h4>Endereço Cliente</h4>

  <form method="post" action="/newendereco" enctype="multipart/form-data">
    <div class="form-group col-lg-6">
      <input type="text" class="form-control" name="rua" required="obrigatorio" placeholder="Nome da Rua">
    </div>
     <div class="form-group col-lg-6">
      <input type="text" class="form-control" name="cep" required="obrigatorio" placeholder="Cep">
    </div>
    <div class="form-group col-md-6">
     <input type="text" class="form-control" value="" name="numero" required="obrigatorio" placeholder="numero">
    </div>

    <div class="form-group col-md-6">
     <input type="text" class="form-control"  value="" name="bairro" required="obrigatorio" placeholder="bairro">
    </div>

     <div class="form-group col-md-6">
     <input type="text" class="form-control"  value="" name="cidade" required="obrigatorio" placeholder="cidade">
    </div>

     <div class="form-group col-md-6">
     <input type="text" class="form-control"  value="" name="telefone" required="obrigatorio" placeholder="telefone">
    </div>

     <div class="form-group col-md-6">
     <input type="text" class="form-control"  value="" name="referencia" required="obrigatorio" placeholder="referencia">
    </div>
  
  </div>
  <button type="submit" class="btn btn-primary" id="click">Cadastrar</button>
  <button type="reset" class="btn btn-success">Reset</button>
</form>
{% endif %}
  
  </div>
</div>
 

{% endblock  %}