{% extends 'layoutAdmin.twig' %}

{% block content %}



<div class="container">
  <div class="login-box-body">
    <table class="table table-responsive">
  <thead class="thead-default">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Valor Venda</th>
      <th scope="col">Preço Compra</th>
      <th scope="col">Qtdade</th>
      <th scope="col">%Porcen</th>
      <th scope="col">ValorEstoque</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
    
      
  <tbody>
    {% for produtos in produto %}
    <tr>
      <th scope="row">{{produtos.Id}}</th>
      <td>{{produtos.name}}</td>
      <td>{{produtos.PrecoVenda}}</td>
      <td>{{produtos.PrecoCompra}}</td>
      <td>{{produtos.Qtdade}}</td>
      <td>{{produtos.PorcentagemVenda}}</td>
      <td>{{produtos.ValorTotalStoque}}</td>
      <td>
        <a href="#" class="btn btn-warning btn-sm"><span><i class="fas fa-cut"></i></span></a>
        <a href="#" class="btn btn-success btn-sm"><span><i class="fas fa-edit"></i></span></a>
        
        
      </td>
    </tr>
    {% endfor %}
  </tbody>
  
  </table>

    

{% endblock  %}