{% extends 'homecliente/layoutCliente.twig' %}

{% block content %}
<div class="">
  <h3 class="text-center">Cardapio</h3>
     
<div class="row">
  <div class="col s6 push-s0">
    <p>{{session.nomesabor}}
The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32
    </p>
  </div>
{% for item in lista %}
<div class="col s6 m3 12">
  <div class="card">
    <div class="card-image">
        <img src="{{item.urlimg}}" class="card-img img1" class="responsive-img">
        <span class="card-title">{{item.nomesabor}} {{item.valor}}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red">
            <i class="material-icons">add</i>
          </a>
    </div>
    <div class="card-content">
      <p style="font-size:10px;">{{item.descricao}}</p>
    </div>
  </div>
</div>
{% endfor %}  
</div>
</div>
{% endblock %}



    
    