{% extends 'layoutAdmin.twig' %}

{% block content %}



<div class="container flex-wrap">
  <div class="login-box-body">
    <table class="table table-responsive-md">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Quant</th>
      <th scope="col">Valor Total</th>
      <th scope="col">Action</th>
    </tr>
  </thead>


  <tbody>
    {% for produtos in produto %}
    <tr>
      <th scope="row">{{produtos.id}}</th>
      <td>{{produtos.nome}}</td>
      <td>{{produtos.qtdade}}</td>
       <td>{{produtos.valortotalstoque}}</td>
      <td>

        <!--<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#editproduto" 

        data-iduser={{produtos.id}}
        data-name={{produtos.nome}}
        data-qt={{produtos.qtdade}}
        data-compra={{produtos.precocompra}}
        data-lucro={{produtos.porcentagemvenda}}>
        <span><i class="icon ion-md-create text-white"></i></span></button>-->

        <a href="/listidproduto?id={{produtos.id}}" class="waves-effect waves-light">Editar
        <span class="material-icons left">edit_attributes</span>

        <a href="/deletarProduto?id={{produtos.id}}" class="waves-effect waves-light">Excluir
         <span class="material-icons left">restore_from_trash</span>


      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>



{% endblock  %}