{% extends 'layoutAdmin.twig' %}

{% block content %}



<div class="container flex-wrap">
  <div class="login-box-body">
    <table class="table table-responsive-md">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Quant</th>
      <th scope="col">Valor Total</th>
      <th scope="col">Action</th>
    </tr>
  </thead>


  <tbody>
    {% for produtos in produto %}
    <tr>
      <th scope="row">{{produtos.id}}</th>
      <td>{{produtos.nome}}</td>
      <td>{{produtos.qt_dade}}</td>
       <td>{{produtos.valor_total_stoque}}</td>
      <td>

        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#editproduto" data-iduser={{produtos.id}}
        data-name={{produtos.nome}}
        data-qt={{produtos.qt_dade}}
        data-compra={{produtos.preco_venda}}
        data-lucro={{produtos.porcentagem_venda}}>
        <span><i class="icon ion-md-create text-white"></i></span></button>

        <button type="button" class="btn btn-danger btn-sm">
        <span><i class="icon ion-md-trash text-white"></i></span></button>



      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>



{% endblock  %}