{% extends 'layoutAdmin.twig' %}

{% block content %}



<div class="container">
  
    <table class="striped" style="margin-top:50px;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Quant</th>
      <th scope="col">Valor Total</th>
      <th scope="col">Action</th>
    </tr>
  </thead>


  <tbody>
    {% for produtos in produto %}
    <tr>
      <th scope="row">{{produtos.id}}</th>
      <td>{{produtos.nome}}</td>
      <td>{{produtos.qtdade}}</td>
       <td>{{produtos.valortotalstoque}}</td>
      <td>

        <a href="/listidproduto?id={{produtos.id}}" class="waves-effect waves-light green-text darken-1">Editar
        <i class="material-icons green-text darken-1 left">edit_attributes</i>
        </a>

        <a href="/deletarProduto?id={{produtos.id}}" class="waves-effect waves-light orange-text darken-1">Excluir
           <i class="material-icons orange-text darken-1 left">restore_from_trash</i>
        </a>
         


      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>



{% endblock  %}