{% extends 'layoutAdmin.twig' %}

{% block content %}



<div class="container flex-wrap">
  <div class="login-box-body">
    <table class="table table-responsive-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Quant</th>
      <th scope="col">Action</th>
    </tr>
  </thead>


  <tbody>
    {% for produtos in produto %}
    <tr>
      <th scope="row">{{produtos.Id}}</th>
      <td>{{produtos.name}}</td>
      <td>{{produtos.Qtdade}}</td>
      <td>

        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#editproduto" data-iduser={{produtos.Id}}
        data-name={{produtos.name}}
        data-qt={{produtos.Qtdade}}
        data-compra={{produtos.PrecoVenda}}
        data-lucro={{produtos.PorcentagemVenda}}>
        <span><i class="icon ion-md-create text-white"</button>

          <button type="button" class="btn btn-danger btn-sm">
        <span><i class="icon ion-md-trash text-white"</button>



      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>



{% endblock  %}