{% extends 'layoutAdmin.twig' %}

{% block content %}

<div class="">
<div class="row">
  <div class='col s12 m10 l6'>
  <table id='example' class='mdl-data-table  striped'>

      <thead>
        <tr>
          <th scope='col'>Sabor</th>
          <th scope='col'>Media</th>
          <th scope='col'>Grande</th>
          <th scope='col'>Descrição</th>
          <th scope='col'>Action</th>

        </tr>
      </thead>
  <tbody>
    {% for cardapio in card %}
    <tr>
       <td>{{cardapio.nomesabor}}</td>
       <td>{{cardapio.valorm}}</td>
       <td>{{cardapio.valorg}}</td>
       <td>{{cardapio.Descrição}}</td>
       <td>
       <a href='#' class='waves-effect waves-light green-text darken-4 large' onclick = 'Pizza({{cardapio.Id}})'>
       <i class='material-icons left'>edit_attributes</i>
       </a>
       <a href='/excluit/{{cardapio.urlimg}}'  class='waves-effect waves-light  orange-text darken-4' onclick='Deletar({{cardapio.urlimg}})'>
       <i class='material-icons orange-text darken-4 left'>restore_from_trash</i>
       </a>
       </td>
     </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>


{% endblock  %}
